body {
  color: #f9a22d;
  background-color: #266ba1;
}

div {
  text-align: center;
}

.navbar {
  background-color: #ffca83;
}

.header-div {
  background-image: url("images/coding2.jpg");
}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 250px;
}

.fa {
  color: #173f5f;
  background-color: #ffca83;
  font-size: 50px;
  width: 100px;
  text-align: center;
  text-decoration: none;
}

/* .about-div {
  background-color: #267158;
}

.skills-div {
  background-color: #71aa97;
}

.deployed-div {
  background-color: #478d76;
}

.other-div {
  background-color: #0e553e;
}

.contact-div {
  background-color: #003926;
} */

.card {
  height: 400px;
}

div {
  margin-bottom: 0 !important;
  padding-bottom: 0;
  padding-top: 0;
  margin-top: 0;
}

.jumbotron {
  background-image: url("images/coding3.gif");
  background-size: cover;
}

.card {
  background-color: #88c8f9;
}
